@import 'variables';

html, body, canvas {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: #999;
}

canvas {
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inline {
	display: inline-block;
}

.ui {
	position: absolute;
	top: 70px;
	z-index: 1;

	&.left {
		left: 15px;
	}

	&.right {
		right: 15px;
	}

	.panel {
		background: $semiTransparentDark;
	}
}

.form-horizontal .control-label {
	text-align: left;
}

.short {
	max-width: 50px;
}