<h4>Available Mesh</h4>
<div ng-controller="CreateMeshController">

	<div class="panel-group" id="meshBlueprintsAccordion">

		<div class="panel panel-default" ng-repeat="meshBlueprint in meshBlueprints track by $index">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#" data-toggle="collapse" data-parent="#meshBlueprintsAccordion" data-target="#collapse-{{meshBlueprint.id}}">{{meshBlueprint.id}}</a>
				</h4>
			</div>
			<div id="collapse-{{meshBlueprint.id}}" class="panel-collapse collapse">
				<div class="panel-body">
					<!-- OPTIONS -->
					<h4>Options</h4>
					<div ng-repeat="(key, value) in meshBlueprint.options">
						<div class="form-group">
							<label class="control-label col-sm-4">{{key}}</label>
							<div class="col-sm-8">
								<input type="text" ng-model="meshBlueprint['options'][key]['value']" class="input-sm form-control"/>
							</div>
						</div>
					</div>
					<!-- BUTTONS -->
					<button class="btn btn-default" ng-click="create($index)">Create</button>
				</div>
			</div>
		</div>

	</div>

</div>