<h4>Selected Mesh</h4>
<div ng-controller="SelectedMeshController">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<span ng-if="meshManager.selectedMeshes.length > 0">
					{{meshManager.selectedMeshes[0].id}}
					<a href="#" ng-click="meshManager.disposeMesh(meshManager.selectedMeshes[0])">
						<span class="glyphicon glyphicon-trash text-danger"></span>
					</a>
					<a href="#" ng-click="meshManager.deselectMesh(meshManager.selectedMeshes[0])" class="pull-right">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</span>
				<span ng-if="meshManager.selectedMeshes.length == 0">No Mesh Selected</span>
			</h4>
		</div>
		<div class="panel-body" ng-if="meshManager.selectedMeshes[0]">
			<div ng-repeat="(key, value) in abstractMeshBlueprint.properties">
				<div class="form-group">
					<label class="control-label col-sm-4">
						{{key}}
					</label>
					<div class="col-sm-8">
						<div ng-switch="value.type">
							<div ng-switch-when="Vector3">
								<!-- access to values in BABYLON.Vector3 type property -->
								<input class="input-sm form-control short pull-left" placeholder="x" ng-model="meshManager.selectedMeshes[0][key]['x']" />
								<input class="input-sm form-control short pull-left" placeholder="y" ng-model="meshManager.selectedMeshes[0][key]['y']" />
								<input class="input-sm form-control short pull-left" placeholder="z" ng-model="meshManager.selectedMeshes[0][key]['z']" />
							</div>
							<div ng-switch-when="Material">
								<select ng-options="material.name for material in materialManager.materials" ng-model="meshManager.selectedMeshes[0][key]" class="input-sm form-control"></select>
							</div>
							<div ng-switch-when="Boolean" class="checkbox pull-right">
								<!-- TODO DEBUG "receiveShaodws" - can't be activeated/deactivated from time to time - use interval to get values while testing changes -->
								<input type="checkbox" ng-model="meshManager.selectedMeshes[0][key]" ng-true-value="true" ng-false-value="false">
							</div>
							<div ng-switch-when="Custom">
								<div ng-switch="key">
									<div ng-switch-when="castShadows*" class="checkbox pull-right">
										<input type="checkbox" ng-model="lightingManager.idsForShadowGeneratorRenderList[meshManager.selectedMeshes[0].id]" />
									</div>
								</div>
							</div>
							<div ng-switch-default>
								<!-- direct property access of currently selected mesh -->
								<input class="input-sm form-control" placeholder="value" ng-model="meshManager.selectedMeshes[0][key]" />
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>